<header>
    <h1>{{mainCtrl.applicationName}}</h1>
</header>
<section class="container">
    <secion class="business-list">
        <a
            href="{{element.company| lowercase}}"
            ng-repeat="element in mainCtrl.listing.companies">
            <div
                class="business-list__block"
                style="background: url({{element.image}})no-repeat 50% /cover">
                <section>
                    <h2>{ {{element.company}} }</h2>
                    <p>{{element.description | limitTo:70 }} ...</p>
                </section>
                <span>}</span>
            </div>
        </a>
    </section>
</section>
