@import './styles.scss';

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    @extend .container;
    @include bklayout();
    position: relative;
    background: url("https://unsplash.it/1600/600/?image=231");
    padding: 100px 0;
    text-align: center;
}

section {
    .image-container {
        display: inline-block;
        margin-right: 50px;
    }

    .text-container {
        display: inline-block;
        vertical-align: bottom;
    }
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}
.business-list {
    display: flex;
    flex-wrap:wrap;
    > a {
        @include respond-min($mobile-size) {
            width: 50%
        }
        text-decoration: none;
        display: block;
        display: flex;
        width: 100%
    }
    .business-list__block {
        @include bklayout();
        align-items: center;
        display: flex;
        position: relative;
        color: white;
        padding: 50px;
        width: 100%;
        // > * {
        //     flex: 1;
        // }
        section {
            position: relative;
            flex: 2;
            h2 {
                text-transform: uppercase;
            }
        }
        span {
            color: white;
            text-align: center;
            font-size: 35px;
            position: relative;
            flex: 1;
        }
    }
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
}